.heading{
    color:rgb(223, 45, 72);
    text-align:center;
    font: bold;
    
}

.hyperlinktext{
    font: bold;
    font-size: medium;
    text-align: right;
    color: blue;
}

.name{
    color: #dd0404;
    text-align: left;
    font-size: 30px;
    font: bold;
    font-weight: 200;
   

}

.address{
    text-align:left;
   
}

.education{
    font-size: 30px;
    font: 250;
    color:#dd0404;

}